:root {
  --primary-color: #ffd700;
  --primary-accent-color: #d32f2f;
  --header-text-color: #1976d2;
  --section-color: #f5f5f5;
  --hover-color: #ff8c00;
  --secundary-color: #0d47a1;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 100px;
  background: var(--primary-color);
}

header a {
  padding: 4px;
  font-size: 24px;
  text-decoration: none;
  color: var(--header-text-color);
}

.hero-container {
  background-color: var(--section-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-link {
  width: 150px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  background: var(--primary-accent-color);
  margin-top: 150px;
  border-radius: 5px;
  padding: 16px;
  transition: all ease-in-out 100ms;
}

.hero-link:hover {
  background: var(--hover-color);
}
